.root{
	-fx-background-color: #003A5F;
	-fx-font: 'impact';
	-fx-font-size: 11pt;
}

.combo-box-base  {
	-fx-background-color: white;

}

.button {
	-fx-font: 'Arial';
	-fx-padding: 10;
	-fx-background-color: #FFFFFF;
	-fx-text-fill: #2F98D1;
	-fx-font-size: 10pt;

}

.label {
	-fx-font: 'Arial';
	-fx-text-fill: #2F98D1;
}

.table-view .table-cell{

	-fx-font-size: 9pt;
}
}

